.courses {
  padding: 10px 50px;
}

.courses-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* This will center the cards */
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0056b3;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.course-card-header h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.course-card-body p {
  font-size: 14px;
  margin-bottom: 15px;
}

.course-card-body button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-card-body button:hover {
  background-color: #0056b3;
}
